[Unit]
Description=db server

Requires=network-online.target
Requires=mysql.service
Requires=rabbitmq-server.service
Requires=/home/temp/database/rabbitMQLib.inc
Requires=/home/temp/database/login.php.inc
Requires=/home/temp/database/path.inc

After=network-online.target
After=network.target
After=rabbitmq-server.service

[Service]
ExecStart=/usr/bin/php /home/temp/database/testRabbitMQServer.php

[Install]
WantedBy=multi-user.target

