[Unit]
Description=dmz server

Requires=network-online.target
Requires=mysql.service
Requires=rabbitmq-server.service
Requires=/home/temp/dmz/rabbitMQLib.inc
Requires=/home/temp/dmz/path.inc

After=network-online.target
After=network.target
After=rabbitmq-server.service

[Service]
ExecStart=/usr/bin/php /home/temp/dmz/serverAPI3.php

[Install]
WantedBy=multi-user.target
